/*Code for pulse effect for Epoq logo*/

div p {
  height: 10%;
}

body {
  /*display: flex;*/
  align-items: center;
  justify-content: center;
}

@keyframes stretch {
  0% {
    transform: scale(.4);
    background-color: rgba(39, 48, 178, 1);
    border-radius: 100%;
  }
/*  50% {
    background-color: rgb(200, 200, 200);
  }
  100% {
    transform: scale(1.5);
    background-color: rgba(39, 48, 178, 1);
  }*/
}

.indicator {
  background-color: rgb(192, 192, 192);
  width: 20%;
  display: inline;
  position: absolute;
  left: 15%;
  top: 15%;
  /*margin-left: -50px;
  margin-top:-50px;*/

/*  margin-top: 30%;
  margin-left: 35%;
  margin-bottom: 10%;*/

/*ADDED: animation for the image*/

  height: 100px;
  width: 100px;
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
