/*
  Green background that can be escaped
*/
/*body {
  background: blue;
}*/

/*
  Applies to all three panels
*/
.panel {
  width: 640px;
  height: 320px;
/*  background: red;*/
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  float: left;
  position: relative;
}

/*
  Hide all views by default
*/
.view {
  display: center;

}

.view-indicator {
  position: absolute;
  top: 5%;
  right: 5%;
}

h1 {
  background-color: red;
  padding: 70%;
  height: 20px;
  position: fixed;
}

/*h1 {
  color: pink;
  left: 0;
  margin-left: 
  position: absolute;
  text-align: right;
  right: 100%;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
*/