

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis'), url(../Dosis/Dosis-Regular.ttf) format('truetype');
}

/*
  Green background that can be escaped
*/
body {
  background: black;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

html {
  width: 100%;
  height: 100%;
}

/*
  Applies to all three panels
*/
.panel {
  width: 100%;
  height: 100%;
  padding-right: 10vw;
  padding-top: 20px;
  padding-left: 10vw;
/*  background: red;*/
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  float: left;
  position: relative;
  z-index: 10;
}

.panel-center h1 {
  font-family: 'Dosis', helvetica;
  font-size: 4vw;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #333;


}
.panel-center p {
  font-family: 'Dosis', helvetica;
  font-size: 4vw;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #333;
  -webkit-animation-name: increase;
  -webkit-animation-duration: 4s;
  animation-name: increase;
  animation-duration: 4s;
}

@-webkit-keyframes increase {
    0%   {font-size: 4vw;}
    100% {font-size: 6vw;}
}

@keyframes increase {
  0%   {font-size: 4vw;}
  100% {font-size: 6vw;}

}
section{
  height: 100%;
}

/*
  Hide all views by default
*/
.view {
  display: none;
}

/*.view-indicator {
  position: absolute;
  top: 5%;
  right: 5%;
}*/




