/*
  Green background that can be escaped
*/
body {
  background: green;
}

/*
  Applies to all three panels
*/
.panel {
  width: 640px;
  height: 320px;
/*  background: red;*/
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  float: left;
  position: relative;
  z-index: 10;
}

.panel-center h1 {
  font-family: helvetica;
  font-size: 4vw;
  color: white;
  margin: auto;
}
.panel-center p {
  font-family: helvetica;
  font-size: 4vw;
  color: white;
  margin-left: 120px;
  margin-top: 20px;
}

.screen-reading {
width: 100%;
margin-left: 120px;
margin-top: 20px;
}
/*
  Hide all views by default
*/
.view {
  display: none;
}

/*.view-indicator {
  position: absolute;
  top: 5%;
  right: 5%;
}*/




