/*.location-heading finds all elements in the html that have a class of locationlink
e.g.  <h2 class="location-heading">H2 content</h2> */
body {
	background-image: fixed;
	}
.intro {
	text-align: center;
	color: white
	opacity: 0.2;
	size: 1rem;
}
li a img {

   width:20px;
   height:40px;
   position: fixed;
}

div h3 {
	color: white;
	size: 2rem;
	opacity: 0.2;
}
.location-heading {
	margin: 50px;
	font-size: 16px;
}

.image-link {
	display: block;
	margin: auto;
	margin-top: 30px;
}

.view {
	background-color: black;
}

div .card-header{
	background-color: white;
	font-size: 2rem;
	opacity: 0.4;
}	
.location-heading{
color: white
}


}
nav {
    width: 100%;
    position: fixed;
    top: 0rem;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

}
nav ul li {

    display: inline;
}
nav ul li a {

    display: inline-block;
    padding: 1rem;
    text-decoration: 
    background:black;
    color: white;

}