/* Any view-specific CSS goes in here */

.david-container {
    text-align: center;
    margin-top: 5rem;
}

	/*Code for pulse effect for Epoq logo*/

button{
  background-color: rgba(39, 48, 178, 1);
}

div p{
  height: 10%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes stretch {
  0% {
    transform: scale(.4);
    background-color: rgba(39, 48, 178, 1);
    border-radius: 100%;
  }
}

.imguy{
  background-color: rgb(192, 192, 192);
  width: 20%;
  display: inline;
  margin-top: 30%;
  margin-left: 35%;
  margin-bottom: 10%;

/*ADDED: animation for the image*/

  height: 100px;
  width: 100px;
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.prep {
  display: none;
}

.instruction {
  display: none;
}