svg {
  position: absolute;
  width:100%;
  left: 0;
  height:100%;
}

 
.heartbeat-content {
  overflow:hidden;
  position: absolute;
  right: 0%;
  top: 10%;
  height: 80%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.heartbeat-left-overlay {
	height: 100%;
  width: 0%;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0%;
  top: 0;
  /*background-color:rgba(255,255,255,0.5);*/
  background-color: black;
}

.heartbeat-right-overlay {
	height: 100%;
  width: 90%;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  /*background-color: rgba(255,255,255,0.5);*/
  background-color: black;
} 


.heartbeat-content.heartbeat-level-1{
  top: 28%;
}

.heartbeat-content.heartbeat-level-2{
  top: 16%;
}

.heartbeat-content.heartbeat-level-3{
  top: 4%;
}

.heartbeat-content.heartbeat-level-4{
  top: -8%;
}

.heartbeat-content.heartbeat-level-5{
  top: -20%;
}

